In [ ]:
dane_osobowe = {"Jan Kowalski": {"Wiek": 30, "ZawĂłd": "InĹźynier", "Miasto": âWarszawa"},
                "Anna Nowak": {"Wiek": 25, "ZawĂłd": "Nauczyciel", "Miasto": âKrakĂłwâ},
                "Piotr WiĹniewski": {"Wiek": 35, "ZawĂłd": "Lekarz", "Miasto": âGdaĹsk"}

In [ ]:
"Marta Nowak": {"Wiek": 22, "ZawĂłd": "Student", âMiasto": âPoznaĹâ}