In [ ]:
dane_osobowe = {"Jan Kowalski": {"Wiek": 30, "Zawód": "Inżynier", "Miasto": "Warszawa"},
    "Anna Nowak": {"Wiek": 25, "Zawód": "Nauczyciel", "Miasto": "Kraków"},
    "Piotr Wiśniewski": {"Wiek": 35, "Zawód": "Lekarz", "Miasto": "Gdańsk"}

In [ ]:
"Marta Nowak": {"Wiek": 22, "Zawód": "Student", "Miasto": "Poznań"}